.app {
    min-height: 100vh;
    background-color: rgb(31, 29, 29);
    padding-top: 90px;
    padding-bottom: 70px;
    color: white;
}

@media (max-width: 700px) {
    .app {
      padding-top: 70px;
    }
  }